{% extends 'base.html' %}

{% block content %}
    <h1>All Authors</h1>
        {% for author in authors %}
            <div class ="row">
                {% if not author.profile_image %}
                    <div class="col">
                        <img src="https://avatars.githubusercontent.com/u/57137?v=4" width="32" height="32" class="rounded-circle">
                    </div>
                {% else %}
                    <div class="col-1">
                        <img src={{ author.profile_image }} width="32" height="32" class="rounded-circle">
                    </div>
                {% endif %}
                <div class="col">
                    <a href = "{% url 'view_profile' author.id %}">{{ author.display_name }}</a>
                </div>
            </div>
        {% endfor %}
{% endblock %}