{% extends 'base.html' %}

{% block content %}
    <h1>{{ author.display_name }}'s Followers</h1>
        {% for person in author.get_followers %}
            <div class ="row">
                {% if not person.follower.profile_image %}
                    <div class="col">
                        <img src="https://avatars.githubusercontent.com/u/57137?v=4" width="32" height="32" class="rounded-circle">
                    </div>
                {% else %}
                    <div class="col-1">
                        <img src={{ person.follower.profile_image }} width="32" height="32" class="rounded-circle">
                    </div>
                {% endif %}
                <div class="col-1">
                    <h3 class=""> {{ person.follower.display_name }} </h3>
                </div>
                {% if person.is_bidirectional %}
                    <div class="col">
                        <h3 class=""> ⭐ </h3>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
{% endblock %}