{% extends 'base.html' %}
{% load humanize %}
{% load stream_extras %}


{% block content %}
    <div style="margin: 7em"></div>
    <h1><i>My Stream</i></h1>
    <div style="margin: 3em"></div>

    {% for item in inbox %}
        {% if item.format == 'inbox' %}
            {% if item.content_object == None %}
                <div></div>
            {% elif item.inbox_type == item.InboxType.LIKE %}
                {% streamlike item %}
            {% elif item.inbox_type == item.InboxType.COMMENTLIKE %}
                {% streamcommentlike item %}
            {% elif item.inbox_type == item.InboxType.COMMENT %}
                {% streamcomment item %}
            {% elif item.inbox_type == item.InboxType.POST %}
                {% streampost item %}
            {% elif item.inbox_type == item.InboxType.FOLLOW %}
                {% streamfollow item %}
            {% endif %}
        {% elif item.format == 'github' %}
            {% streamgh item %}
        {% endif %}
    {% endfor %}

{% endblock %}