<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Error</title>
</head>
<body>

    <h1>Oh no, there was an internal error!</h1>
    <p>It looks like you are logged in as a user without an author attached. To access any of those functionalities, you must have an author. This situation should not have occured under normal circumstances</p>
    <p>In the current revision of the app, you must ask an administrator to fix this. In the future, there will be a button to let you fix this yourself.</p>
</body>
</html>