{% extends 'base.html' %}
{% load image_extras %}
{% load external_extras %}
{% load stream_extras %}
{% block content %}
  <div class="mb-3" style="max-width: 768px; margin: auto;">
    <div class="card-body">

        <div style="margin: 7em"></div>
      {% miniauthor post.author %}


      <h1 class="mb-2" style="margin-top: 2em;"><i>{{ post.title }}</i></h1>
      <p class="card-text"><i>{{ post.description}}</i></p>
      <p class="card-text">Published on {{ post.published }}</p>
      <hr>

      {% if post.content_type == post.PostType.PNG %}
        {% image post %}
      {% elif post.content_type == post.PostType.JPG %}
        {% image post %}
        {% else %}
      <p class="card-text">{{ post.content }}</p>
      {% endif %}

      <div style="margin-top: 4em;"></div>
      <p class="text-muted"> Likes : {{ post_dict|get_item:post.id }} </p>



      <div >
        <div class="btn-group">
          {% if current_author.id in post_author_dict|get_item:post.id %}
            <form action="{% url 'post_like' post.author.id post.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-sm btn-dark">Liked <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>
                {{ like_count }}
              </button>
            </form>
          {% else %}
            <form action="{% url 'post_like' post.author.id post.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-sm btn-dark">Like <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/></svg>
                {{ like_count }}
              </button>
            </form>
          {% endif %}
          <div style="margin-right: 4pt;"></div>
          <button type="button" class="btn btn-sm btn-dark">Share <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/></svg>
          </button>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 10pt;">
    </div>
    <div class="card-footer">
      <form action="{% url 'post_comment' post.author.id post.id %}" method="post">
        {% csrf_token %}
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Add a comment..." name="comment">
          <div style="margin-right: 4pt;"></div>
          <div class="input-group-append">
            <button type="submit" class="btn btn-dark">Comment</button>
          </div>
        </div>
      </form>
      <div class="mt-4">
        {% for each_comment in post_comments %}
          {% minicomment current_author each_comment %}
          <hr>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}