{% extends 'base.html' %}
{% load image_extras %}
{% load stream_extras %}

{% block content %}
    <h1>{{author.display_name}}'s Posts</h1>
        {% for post in page_obj %}
        {%if not post.is_friend_post or author.user_id == user.id or author.is_bidirectional%}
            {% minipost post %}
        {%endif%}
        {% endfor %}

    <nav aria-label="post list pages">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}&size={{ size }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-disabled="true">Previous</a>
                </li>
            {% endif %}
            {% for page in page_obj.paginator %}
                {% if page.number == page_obj.number %}
                    <li class="page-item active"><a class="page-link" href="#" aria-current="true">{{ page.number }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page.number }}&size={{ size }}">{{ page.number }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}&size={{ size }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-disabled="true">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}