{% extends 'base.html' %}
{% load stream_extras %}

{% block content %}
    <div style="margin: 7em"></div>

    <div style="max-width: 768px; margin: auto;">
    {% miniauthor author %}
    <div style="margin: 4em"></div>
    <h1><i>Requests</i></h1>

    <div style="margin: 2em"></div>
        {% for req in author.get_requests %}
         {% tinyauthor req.from_user %}
          <a href="{% url "approve_follow" req.id %}?next={{ request.path|urlencode }}" class="btn btn-dark">Approve</a>
          <a href="{% url "deny_follow" req.id %}?next={{ request.path|urlencode }}
          " class="btn btn-outline-dark">Deny</a>
        {% endfor %}
    </div>
{% endblock %}