{% load humanize %}
{% load martortags %}
{% load image_extras %}

<div class="mb-2" >
    <div class="card-body">
        <div>
      <h2 class="card-title">
        <i>{{ post.title }}</i>
      </h2>
      <p>{{post.published|date:"F j, Y"}} (published {{post.published|naturaltime}})</p>
      </div>
        {% if post.content_type == post.PostType.TEXT %}
            <p >{{ post.content|truncatechars:80}}</p>
        {% elif post.content_type == post.PostType.MD %}
            <p >{{ post.content|safe_markdown }}</p>
        {% elif post.content_type == post.PostType.PNG %}
            {% comment %} {% image post %} {% endcomment %}
            <p>Image post.</p>
        {% elif post.content_type == post.PostType.JPG %}
            {% comment %} {% image post %} {% endcomment %}
            <p>Image post.</p>
        {% elif post.content_type == post.PostType.APP %}
            <p>File post.</p>
        {% endif %}

        <a href={% url "post_view" author_id=post.author.id post_id=post.id %} class="h6 qc-hover-link">Continue reading...</a>
    </div>
  </div>