
          <div class="media mt-2" style="display: flex; align-items: center; justify-content: center;">
            <img src="{{comment.author.profile_image}}" class="rounded-circle" width="50px" height="50px" alt="user profile image">
            <div style="margin-right: 8pt;"></div>
            <div class="" style="display: inlineblock;">
              <h5 class="mt-0"><a class="qc-hover-link" href={% url 'view_profile' comment.author.id %}>{{comment.author.display_name}}</a></h5>
              <p style="margin-bottom: 0;">{{comment.comment}}</p>
            </div>
            <div style="margin-left: auto;">
                {%if current_author is not None %}
              {% if current_author.id in comment.like_ids %}
                {% csrf_token %}
                <button onclick="likeComment(this.id, '{% url 'like_comment' author_id=post.author.id post_id=post.id comment_id=each_comment.id %}')" id="cl_{{forloop.counter}}" class="btn btn-sm btn-dark">Liked <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>
                </button>
            {% else %}
              {% csrf_token %}
                <button onclick="likeComment(this.id, '{% url 'like_comment' author_id=post.author.id post_id=post.id comment_id=each_comment.id %}')" id="cl_{{forloop.counter}}" class="btn btn-sm btn-dark">Like <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/></svg>
                </button>
            {% endif %}
            {% endif %}
              <p class="text-muted" style="margin-bottom: 0;">Likes: {{ comment.like_count }}</p>

            </div>
          </div>