{% load humanize %}

<hr>
<div class="mb-2">
    <div class="card-header qc-stream-header">
      <strong>{{ time|naturaltime }}</strong> <a class="qc-hover-link" href={% url "view_profile" author_id=stream.localAuthor.id %}>{{ stream.localAuthor.display_name }}</a> emitted a GitHub event.
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <img src="{{ stream.actor.avatar_url }}" class="rounded-circle float-left mr-2" width="50" height="50">
                </div>
                <div class="col">
      <p class="inline-block"><a class="qc-hover-link"href="https://github.com/{{ stream.actor.login }}">@{{ stream.actor.login }}</a> {{message}}<br>
        <a href={{ url }} class="h6 qc-hover-link">View on GitHub</a>
      </p>
                </div>
            </div>
        </div>
    </div>
  </div>