{% load humanize %}
{% load stream_extras %}

<hr>
<div class="mb-3">
    <div class="card-header qc-stream-header">
    <p class="card-text">
      <strong>{{ time|naturaltime }}</strong>
      <a class="qc-hover-link" href={% url "view_profile" author_id=follow.from_user.id %}>{{ follow.from_user.display_name }}</a> sent you a follow request.
    </p>
    </div>
    <div class="card-body">
        {% miniauthor follow.from_user %}
        <div class="m-4"></div>
        {% if is_following %}
          <p>The follow request was approved.</p>
        {% else %}
          <a href="{% url "approve_follow" follow.id %}?next={{ request.path|urlencode }}" class="btn btn-dark">Approve</a>
          <a href="{% url "deny_follow" follow.id %}?next={{ request.path|urlencode }}
          " class="btn btn-outline-dark">Deny</a>
        {% endif %}
    </div>
</div>