<div>
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: start;">
        {% if not author.profile_image %}
            <img src="https://avatars.githubusercontent.com/u/57137?v=4" width="75" height="75" class="rounded-circle" style="margin-right: 10pt;">
        {% else %}
            <img src="{{ author.profile_image }}" width="75" height="75" class="rounded-circle" style="margin-right: 10pt;">
        {% endif %}
        <div style="display: inline;">
            <h4><a href={% url 'view_profile' author.id %} class="qc-hover-link">
        {{ author.display_name }}</a></h4>
            <p class="card-text qc-host-tag">{{ author.host.url }}</p>
        </div>
    </div>
</div>